.conteiner {
    background-image: url("../assets/wallpaper-login.png");
    background-color: #f0f0f0;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.secao-login {
    width: 32vw;
    height: 62vh;
    border-radius: 5%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
    background-color: #68C9E5;
    color: #000000;
}

.conteiner-logo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 7vw;
}

.conteiner h2 {
    font-size: 3vh;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}

.grupo-formulario {
    margin-top: 1vw;
    width: 100%;
}

.grupo-formulario label {
    display: block;
    font-size: 2vh;
    margin-bottom: 1vw;
    font-weight: 400;
}

.conteiner input {
    width: 100%;
    padding: 3%;
    border: .1vw solid #138698;
    background-color: white;
    border-radius: 1vh;
    font-size: 2vh;
    height: 5vh;
}

.lembrar-me {
    display: flex;
    align-items: center;
    font-size: 2vh;
    margin-top: 3%;
    width: 100%;
}

.lembrar-me input {
    width: 1vw;
    margin-right: 3%;
}

.conteiner form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botao-primario {
    width: 100%;
    padding: 3%;
    background-color: #c15c4e;
    color: white;
    border: none;
    border-radius: 1vh;
    font-size: 1vw;
    cursor: pointer;
    margin-top: 1vw;
    font-weight: 700;
}

.botao-primario:hover{
    background-color: #cf7468;
    transition: 0.5s;
}

#modalContent{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

#modal{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}