* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }

  body {
    display: flex;
    min-height: 100vh;
    background-color: #ffffff;
  }

  .sidebar {
    background-color: #68C9E5;
    width: 75px;
    transition: width 0.3s ease;
    overflow: hidden;
  }



  .sidebar .logo {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20vh;
    margin-top: 5vh;
    
  }

  .logo img{
    width: 65px;
    height:90px;
  }

  .sidebar:hover {
    width: 240px;
    .logo img{
      content: url(./assets/logo.png);
      width: 200px;
      
    }
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .sidebar li:hover {
    background-color: #307E95;
  }

  .sidebar li i {
    margin-right: 15px;
    font-size: 24px;
  }

  /* Estilo do corpo da página */
  .content {
    width: 100vw;
    padding: 20px;
    background-color: #e8f6fc;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Filtros */
.filter-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-section label {
    font-weight: bold;
}

.filter-section input,
.filter-section select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-section button:hover {
    background-color: #0056b3;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #d6eaff;
}