@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f6fcff;
}

.sidebar {
    background-color: #68C9E5;
    width: 75px;
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    height: 100%;
        box-shadow: 0px 0px 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.sidebar .logo {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20vh;
    margin-top: 5vh;
    min-width: 200px;
}

.logo img {
    width: 200px;
    height: 90px;
}

.sidebar:hover {
    width: 220px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 20px;
}

.sidebar li:hover {
    background-color: #307e95;
}

.sidebar li i {
    margin-right: 15px;
}

.selecionado{
    background-color:#307E95 ;
    font-weight: 800;
}
